<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter , :class => 'form-control', :placeholder => 'Commenter Name'%>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, :class => 'form-control', :placeholder => 'Comment Body Area', :style => 'height: 100px;' %>
  </p>
  <p>
    <%= form.submit 'Submit', :class => 'btn btn-primary btn-lg fs-5',:style => 'width: 240px !important' %>
  </p>
<% end %>
