<%= render 'welcome/topnav' %>
<h1>Article List</h1>
<!--<%= link_to 'New article', new_article_path %> -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col" >Text</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |article,index| %>
    <tr>
      <td><%= index+1%></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td>
        <%= link_to 'Show Full', article_path(article), :class => 'btn btn-primary btn-small  ', :style => 'width:100%;' %>
      </td>
      <td>
        <%= link_to 'Edit', edit_article_path(article),:class => 'btn btn-dark', :style => 'width:100%' %>
      </td>
      <td><%= link_to 'Destroy', article_path(article), :class => 'btn btn-danger', :style => 'width:100%',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </tbody>
</table>
