<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
  <%= link_to 'Welcome',{:controller => 'welcome', :action => 'index'}, :class => 'navbar-brand ms-5' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <% if user_signed_in? %>
     <ul class="navbar-nav ms-auto me-5">
      <li class="nav-item mx-5">
          <a href ='#' class='nav-link'><b>Welcome<b> <i> <%= current_user.email[0..5]...%></i></a>
      </li>

      <li class="nav-item mx-5">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete,:class => 'nav-link bg-dark'%>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav ms-auto me-5">
      <li class="nav-item mx-5">
        <%= link_to 'Sign Up', new_user_registration_path, :class => 'nav-link bg-dark'%>
      </li>

      <li class="nav-item mx-5">
        <%= link_to 'Sign In', new_user_session_path, :class => 'nav-link bg-dark'%>
      </li>
    </ul>
  <% end %>
  </div>
</nav>


<div class = 'container-fluid'>
  <h1>Hello Rails</h1>
  <%= link_to 'Blog App', {:controller => 'articles'}, :class => 'btn btn-dark ms-2' %>
</div>
<!--<%= link_to 'Blog App', {controller: 'articles'}, {:class =>"btn-dark"}%>
